<section class="banners">
    <div *ngFor="let product of products$ | async">
      <div>
        <img src="{{product.imgUrl}}">
      </div>
      <div class="text-center">
        <div class="font-weight-bold">{{ product.name }}</div>
        <div class="">{{ product.description }}</div>
        <div>{{ product.price | currency: "R" }}</div>
        <div>
          <button class="btn btn-secondary" (click)="onAdd(product)">Add to Cart </button>
        </div>
      </div>
    </div> 
</section>
